<%= form_for @user, :url => { :controller => "advocates", :action => "senior_creation" } do |f| %>
  <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <label>Advocate ID</label>
  <%= f.text_field :id %>
  <%= f.submit "Submit" %>
<% end %>

