// Place all the styles related to the advocate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
	text-align: center;
	.options{
		display: flex;
		.section-first{
			width: 40%;
		}
		.section-second{
			width: 20%;
		}
		.section-third{
			width: 40%;
		}
	}
	.mt-1{
		margin-top: 16px;
	}
	table {
	  font-family: arial, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
	}

	tr:nth-child(even) {
	  background-color: #dddddd;
	}
}