// Place all the styles related to the advocate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
	text-align: center;
	.options{
		display: flex;
		.section-first{
			width: 50%;
		}
		.section-second{
			width: 50%;
		}
	}
}